body{
    margin: 0 !important;
    background-color: #3a3a3a;
    width: 100%;
    height: 100%;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    color: white;
    height: 8vh;
    background-color: #e91e63;
    font-size: 2vh;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}


#navbar{
    display: flex;
}

#welcomeSpan{
    align-self: center;
    margin-right: 1vw;
}

#menuButton:hover .dropdownContent{
    background-color: #f53b79;
    display: block;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: #e91e63;
    width: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: auto;
    z-index: 1;
  }
  
  .dropdownContent a {
    color: white;
    padding: 1vw 1.05vw;
    text-decoration: none;
    display: block;
  }
  

  
  .dropdown:hover .dropdownContent {
    display: block;
    margin-left: -6.25vw;
}

  
.dropdownMenu{
    display: flex;
    justify-content: center;
}

.dropdownMenu:hover{
    background-color: #fa266d;
    cursor: pointer;
}


#lockIcon{
    align-self: center;
    margin-left: 0.5vw;
}

#logoutIcon{
    align-self: center;
    margin-left: 0.8vw;
    margin-right: -0.55vw;
}

#gridDiv{
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.tile{
    display: flex;
    justify-content: center;
    align-self: center;
}

.buttonTile{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 25px;
    color: white;
    width: 25vw;
    height: 30vh;
    background-color: #e91e63;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.188) 0px 19px 38px, rgba(0, 0, 0, 0.073) 0px 15px 12px;
}

.buttonTile:hover{
    cursor: pointer;
    font-size: 2.3vh;
    font-weight: bold;
}

#marksImage{
    transform: rotate(-45deg);
}
