body{
    margin: 0 !important;
    background-color: #3a3a3a;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 8vh 92vh;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    color: white;
    height: 8vh;
    background-color: #e91e63;
    font-size: 2vh;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

#welcomeSpan{
    align-self: center;
    margin-right: 1vw;
}

#menuButton:hover .dropdownContent{
    background-color: #f53b79;
    display: block;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: #e91e63;
    width: auto;
}

.dropdown {
    align-self: center;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: auto;
    z-index: 1;
  }
  
  .dropdownContent a {
    color: white;
    padding: 1vw 1.05vw;
    text-decoration: none;
    display: block;
  }
  

  
  .dropdown:hover .dropdownContent {
    display: block;
    margin-left: -6.25vw;
}

  
.dropdownMenu{
    display: flex;
    justify-content: center;
}

.dropdownMenu:hover{
    background-color: #fa266d;
    cursor: pointer;
}


#lockIcon{
    align-self: center;
    margin-left: 0.5vw;
}

#logoutIcon{
    align-self: center;
    margin-left: 0.8vw;
    margin-right: -0.55vw;
}

#marksImage{
    transform: rotate(-45deg);
}

#navbar{
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgba(255,255,255,.12);
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(255, 255, 255, 0.12);
}

#navbarList{
    height: 80%;
    width: 100%;
    align-self: center;
    color: white;
}

#content{
    display: grid;
    grid-template-columns: 20% 80%;
}

.itemButton{
    width: 100%;
    height: 10vh;
    background-color: #3a3a3a;
    border: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vh;
    text-align: left;
    padding-left: 1vw;
}

.itemButton:hover{
    background-color: #595858;
}


.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-interactive.mat-mdc-list-item-single-line.mdc-list-item--with-one-line{
    display: flex;
    height: 10vh;
    padding: 0;
}


