<!-- <mat-table [dataSource]=students>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let student"> {{student.login}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </mat-table> -->
<!-- 
                 
    <div id="gridDiv">
        <div class="tile">
            <button class="buttonTile" (click)="toMarks()" style="margin-right: -15vw;">
            <p>Oceny Twojego dziecka</p>
            </button>
        </div>
        <div class="tile">
            <button class="buttonTile" style="margin-left: -15vw;"><img id ="marksImage" src="/assets/images/marks.jpg" alt="marks" style="height: 10vh; width: 7vw;">
            <p>Poznaj nauczycieli swojego dziecka</p>
            </button>
        </div>
        <div class="tile">
            <button class="buttonTile" style="margin-right: -15vw;"></button>
        </div>
        <div class="tile">
            <button class="buttonTile" style="margin-left: -15vw;"></button>
        </div>

    </div> -->
<div id="matToolBar">
    <mat-toolbar>
        <mat-toolbar-row>
            <div id="toolbarNav">
                <span id="welcomeSpan">
                    Dzień dobry, {{getName}}
                </span>
                <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="changePassword()"><mat-icon id="lockIcon">lock</mat-icon>Zmień
                        hasło</button>
                    <button mat-menu-item (click)="logout()"><mat-icon id="logoutIcon">logout</mat-icon>Wyloguj się</button>
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<mat-sidenav-container id="navbar">
    <mat-sidenav mode="side" opened id="navbarDrawer">
        <mat-list>
            <mat-list-item >
                <button class="itemButton" routerLink="/user">
                    Strona główna
                </button>
            </mat-list-item>
            <mat-list-item>
                <button class="itemButton" routerLink="/user/marks">
                    Oceny
                </button>
            </mat-list-item>
            <mat-list-item>
                <button class="itemButton">
                    Nieobecności
                </button>
            </mat-list-item>
            <mat-list-item>
                <button class="itemButton" routerLink="/user/notes">
                    Uwagi
                </button>
            </mat-list-item>
            <mat-list-item>
                <button class="itemButton">
                    Nauczyciele
                </button>
            </mat-list-item>
        </mat-list>
        <div id="infoSpan">
            <span>
                Edziennik ©2023
            </span>
        </div>
    </mat-sidenav>
    <mat-sidenav-content id="navbarContent">
        <div id="startingPage" *ngIf="router.url == '/user'">
            <div id="schoolLabel">
                Dziennik elektroniczny szkoły podstawowej <br>im. Pączka Wielkiego w Bydgoszczy
            </div>
            <div id="schoolQuotation">
                
            </div>
            <div id="schoolInfo">
                <div>
                    <img class="startingImage" src="/assets/images/graduation.png" alt="donut">
                    <div class="iconLabel">Szkoła</div>
                    <div class="infoLabel">
                        Szkoła powstała w 2010 roku <br>
                        i od tamtej pory <br>
                        cieszy się niesłabnącą <br>
                        popularnością.
                    </div>
                </div>
                <div>
                    <img class="startingImage" src="/assets/images/teachers.png" alt="teachers">
                    <div class="iconLabel">Nauczyciele</div>
                    <div class="infoLabel">
                        Masz do dyspozycji ponad <br>
                         50 nauczycieli. <br>
                        W szkole dostępny jest <br>
                        szkolny psycholog.
                    </div>
                </div>
                <div>
                    <img class="startingImage" src="/assets/images/help.png" alt="help">
                    <div class="iconLabel">Pomoc</div>
                    <div class="infoLabel">
                       Pamiętaj, że wszyscy <br>
                        jesteśmy równi. <br>
                        Jeśli potrzebujesz pomocy, <br>
                        jesteśmy tu dla Ciebie.
                    </div>
                    
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>