#microscopeImage{
    opacity: 0.3;
    position: absolute;
    width: 670px;
    height: auto;
}

.mat-expansion-panel-body{
    display: flex;
}


.marksDiv{
    display: flex;
}

.marginDiv{
    margin-top: 1rem;
    width: 60vw;
}

#flaskDiv{
    display: flex;
}

#flaskLabel{
    display: flex;
    flex-direction: column-reverse;
}

#subjectsDiv{
    display: grid;
    justify-content: center;
}

.markNote{
   display: flex;
   justify-content: center;
}

#imageWrapper{
    display: flex;
    justify-content: center;
}

#subjectParagraph{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    margin-top: 2rem;
}

.markValueExam{
    background-color: #ff0000;
    color: white;
}

.markValueTest{
    background-color: #009f00;
    color: white;
}

.marks{
    width: 1.6rem;
    height: auto;
    margin-right: 0.5rem;
    text-align: center;
}

.marks:hover{
    cursor: pointer;
}

.markValueDefault{
    border: solid;
    border-width: 0.1px;
    border-color: #3f51b5;
}

.markValueOralTest{
    background-color: rgb(255, 149, 0);
    color: white;
}