<div id="imageWrapper">
    <img id="microscopeImage" background-image src="/assets/images/microscope.png" alt="microscope">
    <div id="subjectsDiv">
        <p id="subjectParagraph">Kursy, w których uczestniczy Twoje dziecko</p>
        <div *ngFor="let mark of studentMarks; let i = index" >
            <div class="marginDiv" >
                <mat-accordion style="margin-bottom: 1rem;" >
                    <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{mark.subject  | titlecase}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <!-- <div class="marksDiv">
                            <div *ngFor="let m of mark.marks" class="marks">
                                <div class="markValue" #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu" (mouseover)="menuTrigger.openMenu()">
                                    {{m.markValue}}
                                </div>
                                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                    <div class="markNote" (mouseleave)="menuTrigger.closeMenu()">{{m.markNote}}</div>
                                </mat-menu>
                            </div>
                        </div> -->
                        <div class="marksDiv">
                            <div *ngFor="let m of mark.marks" class="marks">
                                <div [ngSwitch]="true">
                                    <div *ngSwitchCase="m.markNote == 'sprawdzian'" class="markValueExam" matTooltip={{m.markNote}}>
                                        {{m.markValue}}
                                    </div>
                                    <div *ngSwitchCase="m.markNote == 'odpowiedź ustna'" class="markValueOralTest" matTooltip={{m.markNote}}>
                                        {{m.markValue}}
                                    </div>
                                    <div *ngSwitchCase="m.markNote == 'kartkówka'" class="markValueTest" matTooltip={{m.markNote}}>
                                        {{m.markValue}}
                                    </div>
                                    <div *ngSwitchDefault  class="markValueDefault" matTooltip={{m.markNote}}>
                                        {{m.markValue}}
                                    </div>
                                </div>
                                <!-- <div class="markValue" matTooltip={{m.markNote}}>
                                    {{m.markValue}}
                                </div> -->
                                </div>
                        </div>
    
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <!-- <p>{{mark.subject}}</p>
            <div *ngFor="let m of mark.marks">
                <p>{{m.markValue}}</p>
            </div>  -->
        </div>
    </div>
</div>