#flaskImage{
    width: 150px;
    margin-top: 3rem;
}

.mat-expansion-panel-body{
    display: flex;
}


.marksDiv{
    display: flex;
}

.markValue{
    margin-right: 1rem;
}

.markValue:hover{
    cursor: pointer;
}


.marginDiv{
    margin-top: 1rem;
    width: 60vw;
}

#flaskDiv{
    display: flex;
}

#flaskLabel{
    display: flex;
    flex-direction: column-reverse;
}

#subjectsDiv{
    display: grid;
    justify-content: center;
}

.markNote{
   display: flex;
   justify-content: center;
}

#witam{
    background: url('/assets/images/flask.png');
    height: 100%;
}
