 #loginInput{
    margin-bottom: 1vh;
    font-weight: bold;
}

.button{
    font-weight: bold;
}

#loginForm{
    width: 22vw;
    margin: 3vw;
}

.fullWidth{
    width: 100%;
}

#buttonDiv{
    display: flex;
    justify-content: center;
}

#loginBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #424242;
}

.mdc-floating-label mat-mdc-floating-label{
    height: 10vh;
}

#password{
    height: 5vh;
}

#login{
    height: 5vh;
}

#passwordInput{
    font-weight: bold;
}

#mat-card-title{
    margin-bottom: 2vh;
    color: white;
    font-size: 3vw;
    font-weight: bolder;
}

#loginPage{
    box-shadow: rgba(0, 0, 0, 0.182) 0px 10px 15px, rgba(0, 0, 0, 0.1) 0px 7px 6px;
    border-radius: 25px;
}

.mat-toolbar-row, .mat-toolbar-single-row{
    color: white;
    height: 12vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #e91e63;
}

.footer{
    left: 0;
    font-size: 2vh;
}

#librusHref{
    align-self: center;
    color: white;
    text-decoration: none;
    font-size: 2vh;
}

#librusHref:hover{
    text-decoration: underline;
}

#footerDivBooks{
    display: flex;
}

#footerDivMarks{
    display: flex;
    justify-content: center;
}

#infoParagraph{
    align-self: center;
    margin-left: 0.5vw;
}

#footerDivCR{
    display: flex;
    justify-content: end;
}

#marksImage{
    margin-left: 1.5vw;
    height: 8vh; width: 4vw;
    margin-right: 0.6vw;
}

#booksImage{
    height: 8vh; width: 5vw;
    margin-right: 1vw;
    margin-left: 0.5rem;
}

input {
    color: white;
  }
  ::-ms-reveal {
    filter: invert(100%);
  }
  

  @media (max-width: 700px){
    .footer{
        display: none;
    }
  } 

  .mat-mdc-card{
    box-shadow: none;
  }

  #loginErrors{
    color: black;
    font-weight: bolder;
    margin-bottom: 0.5rem;
  }