<mat-toolbar>
  <mat-toolbar-row>
    <div id="toolbarNav">
            <span id="welcomeSpan">
                Dzień dobry, {{getName}}
            </span>
      <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changePassword()"><mat-icon id="lockIcon">lock</mat-icon>Zmień hasło</button>
        <button mat-menu-item (click)="logout()"><mat-icon id="logoutIcon">logout</mat-icon>Wyloguj się</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container id="navbar">
  <mat-sidenav mode="side" opened id="navbarDrawer">
    <mat-list>
      <mat-list-item>
        <button class="itemButton" routerLink="/teacher/grade">
          Wpisz oceny
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="itemButton"  routerLink="/teacher/grade">
          Wpisz uwage
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="itemButton" routerLink="/teacher/markDelete">
          Usun ocena
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="itemButton" routerLink="/teacher/noteDelete">
          Usun notatke
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="itemButton" routerLink="/teacher">
          Strona główna
        </button>
      </mat-list-item>
    </mat-list>
    <div id="infoSpan">
            <span>
                Edziennik ©2023
            </span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content id="navbarContent">
    <div *ngIf="router.url == '/teacher'">
      <div id="schoolLabel">
        Dziennik elektroniczny szkoły podstawowej <br>im. Pączka Wielkiego w Bydgoszczy
      </div>
      <div id="schoolQuotation">

      </div>
      <div id="schoolInfo">
        <div class="schoolInfoDiv">
          <img class="startingImage" src="/assets/images/graduation.png" alt="donut">
          <div class="iconLabel">Szkoła</div>
          <div class="infoLabel">
            Szkoła powstała w 2010 roku <br>
            i od tamtej pory <br>
            cieszy się niesłabnącą <br>
            popularnością.
          </div>
        </div>
        <div class="schoolInfoDiv">
          <img class="startingImage" src="/assets/images/teachers.png" alt="teachers">
          <div class="iconLabel">Nauczyciele</div>
          <div class="infoLabel">
            Masz do dyspozycji ponad <br>
            50 nauczycieli. <br>
            W szkole dostępny jest <br>
            szkolny psycholog.
          </div>
        </div>
        <div class="schoolInfoDiv">
          <img class="startingImage" src="/assets/images/help.png" alt="help">
          <div class="iconLabel">Pomoc</div>
          <div class="infoLabel">
            Pamiętaj, że wszyscy <br>
            jesteśmy równi. <br>
            Jeśli potrzebujesz pomocy, <br>
            jesteśmy tu dla Ciebie.
          </div>

        </div>
      </div>    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
