#changePasswordFrom{
   display: flex;
   flex-direction: column;
}

#changePasswordError{
    color: black;
    font-weight: bolder;
    margin-top: 0.5rem;
}

#changePasswordButton{
    align-self: center;
}

#loginInput{
    margin-top: 1rem;
}

input {
    color: white;
  }
  ::-ms-reveal {
    filter: invert(100%);
  }