<div mat-dialog-content id="changePasswordDialog">
    {{data.username | titlecase}}, tutaj możesz zmienić hasło
    <form (ngSubmit)="changePassword()" id="changePasswordFrom">
        <div *ngIf="notTheSame" id="changePasswordError">Nieprawidłowe hasło</div>
        <mat-form-field id="loginInput" class="fullWidth">
            <mat-label>Hasło</mat-label>
            <input type="password" [(ngModel)]="newPassword.password" name="login" id="login" matInput>
        </mat-form-field>
        <mat-form-field class="fullWidth">
            <mat-label>Powtórz hasło</mat-label>
            <input type="password" [(ngModel)]="confirmLogin" name="confirmLogin" id="confirmLogin" matInput>
        </mat-form-field>
        <div id="changePasswordButton">
            <button class="button" type="submit" mat-raised-button>Zmień hasło</button>
        </div>
    </form>
</div>