#changePasswordFrom{
   display: flex;
   flex-direction: column;
}

#changePasswordError{
    color: red;
    font-weight: bolder;
    margin-top: 0.5rem;
}

#changePasswordButton{
    align-self: center;
}

#loginInput{
    margin-top: 1rem;
}

#dialogParagraph{
    margin: 0;
    color: rgba(0, 0, 0, 0.74);
}

#changePasswordDialog{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fafafa;
}
