
<div id="imageWrapper">
    <img id="noteImage" background-image src="/assets/images/document-file.png" alt="note">
    <div>
        <button mat-raised-button id="positiveNote" (click)="getFilteredNotes(true)">Uwagi pozytywne</button>
    </div>
    <div>
        <button mat-raised-button id="negativeNote" (click)="getFilteredNotes(false)">Uwagi negatywne</button>
    </div>
    <div>
        <button mat-raised-button id="allNotes" (click)="getAllNotes()">Wszystkie uwagi</button>
    </div>
</div>
<div id="notesDiv">
    <div id="noteInfo">
        <div id="notes" *ngIf="filteredStudentNotes.length > 0 && show && !showAll">
            <div *ngFor="let note of filteredStudentNotes">
                <mat-card class="noteCard">
                    <mat-card-header class="noteCardHeader">
                        <p><mat-icon class="personIcon">person</mat-icon>{{note.teacher}}</p>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content class="noteCardContent">
                        <div class="noteCardContentDiv">
                            <mat-icon class="calendarIcon">calendar_today</mat-icon>
                            <p class="noteParagraph">{{note.date}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div>
                            <p class="contentParagraph">{{note.content}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div id="showAllNotes" *ngIf="studentNotes.length > 0 && showAll && !show">
            <div *ngFor="let note of studentNotes">
                <mat-card class="noteCard">
                    <mat-card-header class="noteCardHeader">
                        <p><mat-icon class="personIcon">person</mat-icon>{{note.teacher}}</p>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content class="noteCardContent">
                        <div class="noteCardContentDiv">
                            <mat-icon class="calendarIcon">calendar_today</mat-icon>
                            <p class="noteParagraph">{{note.date}}</p>
                        </div>
                        <mat-divider></mat-divider>
                        <div>
                            <p class="contentParagraph">{{note.content}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<ng-template #noNotes>
    <div id="noNotesLabel">
        Brak uwag
    </div>
</ng-template>