<img id="diaryImage" src="/assets/images/diary.jpg" alt="diary">
<div id="notes" *ngIf="studentNotes.length > 0; else noNotes">
    <div *ngFor="let note of studentNotes">
        <mat-card class="note">
            <mat-card-content>
                <div class="noteContent">
                    {{note.content}}
                </div>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer class="noteFooter">
                <div class="noteInfo">
                    Dodana {{note.date }} przez {{note.teacher}}
                </div>
                <mat-progress-bar></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
<ng-template #noNotes>
    <div id="noNotesLabel">
        Brak uwag
    </div>
</ng-template>