<img id="notesImage" src="/assets/images/notes.png" alt="notes">
<div id="notes" *ngIf="studentNotes.length > 0; else noNotes">
    <div *ngFor="let note of studentNotes">
        <mat-card class="note" [matTooltip]="note.type ? 'Uwaga pozytywna' : 'Uwaga negatywna'">
            <!-- <mat-card-header>
                <mat-card-title
                    *ngIf="note.type; else negativeType"><mat-icon>insert_emoticon</mat-icon></mat-card-title>
                <ng-template #negativeType><mat-icon>sentiment_very_dissatisfied</mat-icon></ng-template>
            </mat-card-header> -->
            <mat-card-content >
                <div class="noteContent">
                    {{note.content}}
                </div>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-footer class="noteFooter">
                <div class="noteInfo">
                    Dodana {{note.date}} przez {{note.teacher}}
                </div>
                <mat-progress-bar></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>
<ng-template #noNotes>
    <div id="noNotesLabel">
        Brak uwag
    </div>
</ng-template>