#notesImage{
    width: 120px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
}

#notes{
    display: grid;
    justify-content: center;
    margin-top: -1.2rem;
}


.note{
    margin-bottom: 4vh;
    width: 60vw;
}

.noteFooter{
    text-align: end;
    font-size: 1.8vh;
}

.noteInfo{
    margin-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.noteContent{
    padding-left: 0.15rem;
    padding-bottom: 0.2rem;
    padding-top: 0.5rem;
}

.mat-mdc-card-content:first-child{
    padding-top: 0;
}

#noNotesLabel{
    text-align: center;
    font-size: 5vh;
}

.headerDivider{
    margin-left: 1rem;
    margin-right: 1rem;
}

.mat-mdc-card-header{
    padding-top: 0.3rem;
}

.mat-mdc-card-title{
    height: 1.8rem;
}
