<div class="container">
  <h2>Notes for grade {{ grade }}</h2>
  <div *ngFor="let studentItem of student">
    <h4>{{ studentItem.studentName }} {{ studentItem.studentSurname }}</h4>
    <div class="form-group">
      <label for="noteContent{{ studentItem.id }}">Note content</label>
      <textarea class="form-control" id="noteContent{{ studentItem.id }}" rows="2" [(ngModel)]="studentItem.noteContent" maxlength="86"></textarea>
    </div>
    <div class="form-group">
      <label for="kindOfNote{{ studentItem.id }}">Kind of note</label>
      <select class="form-control" id="kindOfNote{{ studentItem.id }}" [(ngModel)]="studentItem.kindOfNote">
        <option value="true">Positive</option>
        <option value="false">Negative</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="onSubmit(studentItem.id)">Create note</button>
  </div>
</div>
