<div class="container">
  <h2 class="h2-starter">Notes for grade {{ grade }}</h2>
  <div class="main-div" *ngFor="let studentItem of student">
    <h4>{{ studentItem.studentName }} {{ studentItem.studentSurname }}</h4>
    <mat-form-field>
      <mat-label>Note content</mat-label>
      <textarea matInput [(ngModel)]="studentItem.noteContent" maxlength="86"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Kind of note</mat-label>
      <mat-select [(ngModel)]="studentItem.kindOfNote">
        <mat-option value="true">Positive</mat-option>
        <mat-option value="false">Negative</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSubmit(studentItem.id)">Create note</button>
  </div>
</div>





